form {
	margin-top: 30px;
}

.story {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 15px;
}

.container-fluid {
	max-width: 1200px;
}

.sidebar-content button {
	margin: 15px 0;
}